<app-layout>
  <div
    class="relative flex h-full w-full justify-center overflow-hidden bg-gray-50 dark:bg-gray-950"
  >
    <app-background-wave
      class="absolute -right-16 -top-36 rotate-[-165deg] scale-[3] blur-lg"
    ></app-background-wave>
    <app-background-wave
      class="absolute -left-36 top-52 -rotate-6 scale-[3] blur-lg max-sm:top-[40rem]"
    ></app-background-wave>
    <app-background-wave
      class="absolute top-[60rem] rotate-6 scale-[3] blur-lg"
    ></app-background-wave>
    <div class="z-10 flex w-full items-center justify-center gap-4 px-8 pb-8 max-md:flex-col">
      <div class="z-20 text-text-light dark:text-text-dark">
        <h1 class="px-3 text-7xl font-bold text-text-light dark:text-text-dark">
          {{ 'CONTACT_ME_PAGE.TITLE' | translate }}
        </h1>
        <p
          class="rounded-md bg-gray-50/50 p-3 font-mono max-xs:text-base sm:gap-2 dark:bg-gray-950/50"
        >
          {{ 'CONTACT_ME_PAGE.SUBTITLE' | translate }}
        </p>
      </div>
      <form
        class="z-20 flex w-full flex-col gap-4 rounded-lg bg-background-light/60 p-4 text-text-light shadow-lg max-sm:w-[90%] max-xs:w-full dark:bg-slate-900/40 dark:text-text-dark"
        [formGroup]="contactForm"
        (ngSubmit)="submitForm()"
      >
        <div class="flex flex-col gap-2">
          <label for="name" class="font-medium">
            {{ 'CONTACT_ME_PAGE.FORM.NAME' | translate }}
          </label>
          <input
            type="text"
            id="name"
            formControlName="name"
            [ngClass]="{ 'border-red-500': controlInvalidAndTouched('message') }"
            class="rounded-md border border-solid border-transparent bg-gray-300/70 p-3 dark:bg-gray-700/70"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="email" class="font-medium">
            {{ 'CONTACT_ME_PAGE.FORM.EMAIL' | translate }}
          </label>
          <input
            type="email"
            id="email"
            formControlName="email"
            [ngClass]="{ 'border-red-500': controlInvalidAndTouched('message') }"
            class="rounded-md border border-solid border-transparent bg-gray-300/70 p-3 dark:bg-gray-700/70"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="message" class="font-medium">
            {{ 'CONTACT_ME_PAGE.FORM.MESSAGE' | translate }}
          </label>
          <textarea
            id="message"
            formControlName="message"
            [ngClass]="{ 'border-red-500': controlInvalidAndTouched('message') }"
            class="rounded-md border border-solid border-transparent bg-gray-300/70 p-3 dark:bg-gray-700/70"
          ></textarea>
        </div>
        <div class="flex justify-center">
          <ngx-turnstile
            [siteKey]="TURNSTILE_SITE_KEY"
            theme="auto"
            [tabIndex]="0"
            [formControl]="getControl('cfToken')"
          ></ngx-turnstile>
        </div>
        <button
          type="submit"
          [ngClass]="{
            'cursor-not-allowed': contactForm.invalid,
            'opacity-80': isLoading() || contactForm.invalid
          }"
          class="rounded-md bg-gradient-to-br from-emerald-500 to-blue-500 p-3 font-medium"
        >
          {{ 'CONTACT_ME_PAGE.FORM.SUBMIT' | translate }}
        </button>

        <div class="flex w-full items-center justify-center">
          <div class="h-px w-full bg-gray-950/50 dark:bg-gray-50/50"></div>
          <p class="px-4 font-mono uppercase text-text-light dark:text-text-dark">
            {{ 'SHARED.OR' | translate }}
          </p>
          <div class="h-px w-full bg-gray-950/50 dark:bg-gray-50/50"></div>
        </div>
        <div
          class="flex w-full items-center justify-center gap-4 text-text-light max-sm:justify-center dark:text-text-dark"
        >
          <a
            href="https://www.linkedin.com/in/joao-borges-martins/"
            rel="noreferrer"
            class="flex items-center justify-center rounded-md bg-gray-50/50 px-4 py-3 font-mono text-lg shadow-base transition-all duration-300 hover:bg-white dark:bg-gray-950/50 dark:hover:bg-slate-700"
            target="_blank"
          >
            <i class="ph-bold ph-linkedin-logo block scale-150 sm:mr-2"></i>
            <span class="max-sm:hidden">LinkedIn</span>
          </a>
          <a
            href="mailto:contact@jpbm.dev"
            class="flex items-center justify-center rounded-md bg-gray-50/50 px-4 py-3 font-mono text-lg shadow-base transition-all duration-300 hover:bg-white dark:bg-gray-950/50 dark:hover:bg-slate-700"
            target="_blank"
          >
            <i class="ph-bold ph-envelope-open block scale-150 sm:mr-2"></i>
            <span class="max-sm:hidden">Email</span>
          </a>
          <a
            href="https://discordapp.com/users/485912377574031370/"
            class="flex items-center justify-center rounded-md bg-gray-50/50 px-4 py-3 font-mono text-lg shadow-base transition-all duration-300 hover:bg-white dark:bg-gray-950/50 dark:hover:bg-slate-700"
            target="_blank"
          >
            <i class="ph-bold ph-discord-logo block scale-150 sm:mr-2"></i>
            <span class="max-sm:hidden">Discord</span>
          </a>
        </div>
      </form>
    </div>
  </div>
</app-layout>
