@if (localizedProject()) {
  <div
    [ngClass]="classByType()"
    class="product-card__box relative flex h-[25rem] w-96 items-center justify-center transition-all duration-500"
  >
    <span
      class="product-card__box__span t-0 l-0 r-0 b-0 pointer-events-none absolute z-10 block"
    ></span>
    <div
      class="l-0 relative z-[1] flex min-w-80 flex-col gap-2 rounded-lg bg-background-light/60 px-10 py-5 font-mono text-text-light shadow-lg backdrop:blur-base dark:bg-background-dark/60 dark:text-text-dark"
    >
      <div class="flex flex-col">
        <div class="text-xs">
          @switch (project.type) {
            @case ('frontend') {
              {{ 'PROJECTS_PAGE.CARD.TYPE.FRONTEND' | translate }}
            }
            @case ('backend') {
              {{ 'PROJECTS_PAGE.CARD.TYPE.BACKEND' | translate }}
            }
            @case ('fullstack') {
              {{ 'PROJECTS_PAGE.CARD.TYPE.FULLSTACK' | translate }}
            }
            @default {
              {{ 'PROJECTS_PAGE.CARD.TYPE.OTHER' | translate }}
            }
          }
        </div>
        <h2 class="text-2xl font-semibold leading-4">
          {{ localizedProject()!.title }}
        </h2>
      </div>
      <p class="product-card__box__content--description">{{ localizedProject()!.description }}</p>
      <div class="flex w-full items-center justify-start gap-4">
        @if (project.github) {
          <a
            href="{{ project.github }}"
            aria-label="Github"
            class="flex items-center justify-center gap-2 rounded-md bg-background-dark/60 px-4 py-2 text-text-dark transition-all duration-300 hover:bg-background-dark/70 dark:bg-background-light/60 dark:hover:bg-background-light/70"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="ph-bold ph-github-logo block"></i>
            Github
          </a>
        }
        @if (project.url) {
          <a
            href="{{ project.url }}"
            aria-label="See more"
            class="flex items-center justify-center gap-2 rounded-md bg-background-dark/60 px-4 py-2 text-text-dark transition-all duration-300 hover:bg-background-dark/70 dark:bg-background-light/60 dark:hover:bg-background-light/70"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ 'PROJECTS_PAGE.CARD.SEE_MORE' | translate }}
            <mat-icon class="scale-75">open_in_new</mat-icon>
          </a>
        }
      </div>
    </div>
  </div>
}
