<div
  class="= flex h-16 w-full items-center justify-between border-0 border-b border-solid border-gray-200 bg-background-light text-text-light dark:border-gray-800 dark:bg-background-dark dark:text-text-dark"
>
  <div class="flex cursor-pointer items-center gap-6 px-6" routerLink="/">
    <img
      src="/assets/images/me.png"
      alt="Logo"
      class="h-10 w-10 rounded shadow-sm dark:shadow-white/40"
    />
    <div class="font-mono">João Pedro</div>
  </div>
  <div class="flex h-full max-sm:hidden">
    @for (header of headers; let last = $last; track header.labelKey) {
      @if (!header.link.startsWith('https')) {
        <a
          [routerLink]="header.link"
          [ngClass]="{
            'border-l': !last,
            'border-x': last
          }"
          class="flex h-full items-center gap-2 border-solid border-gray-200 px-4 text-base font-medium text-text-light dark:border-gray-800 dark:text-text-dark"
        >
          <mat-icon class="scale-75">{{ header.icon }}</mat-icon>
          <span
            [ngClass]="{
              'growing-hover--open': currentRoute === header.link
            }"
            class="growing-hover__base growing-hover--primary growing-hover__from-left truncate pt-1 font-mono max-lg:w-10 max-md:hidden"
            >{{ header.labelKey | translate }}</span
          >
        </a>
      } @else {
        <a
          [href]="header.link"
          target="_blank"
          [ngClass]="{
            'border-l': !last,
            'border-x': last
          }"
          class="flex h-full items-center gap-2 border-solid border-gray-200 px-4 text-base font-medium text-text-light dark:border-gray-800 dark:text-text-dark"
        >
          <mat-icon class="scale-75">{{ header.icon }}</mat-icon>
          <span
            class="growing-hover__base growing-hover--primary growing-hover__from-left truncate pt-1 font-mono max-lg:w-10 max-md:hidden"
            >{{ header.labelKey | translate }}</span
          >
        </a>
      }
    }
  </div>
  <div class="flex grow items-center justify-end gap-2 pr-2">
    <div class="h-16 w-px bg-gray-200 max-sm:hidden dark:bg-gray-800"></div>

    <a
      aria-label="Status page"
      class="flex items-center justify-between px-2 py-2 text-xs font-medium text-text-light max-sm:hidden dark:text-text-dark"
      routerLink="/pgp-key"
    >
      <mat-icon
        [matTooltip]="'HEADER.MENU.PGP_KEY' | translate"
        class="scale-75 text-text-light dark:text-text-dark"
        >key</mat-icon
      >
    </a>
    <div class="h-16 w-px bg-gray-200 sm:hidden dark:bg-gray-800"></div>

    <a
      aria-label="pgpKey"
      class="flex items-center justify-between px-2 py-2 text-xs font-medium text-text-light sm:hidden dark:text-text-dark"
      href="https://status.jpbm.dev"
      target="_blank"
    >
      <mat-icon
        [matTooltip]="'HEADER.MENU.STATUS_PAGE' | translate"
        class="scale-75 text-text-light dark:text-text-dark"
        >radar</mat-icon
      >
    </a>
    <div class="h-16 w-px bg-gray-200 dark:bg-gray-800"></div>
    <button
      type="button"
      aria-label="Change Language"
      class="flex items-center justify-between px-2 py-2 text-xs font-medium text-text-light dark:text-text-dark"
      (click)="changeLanguage()"
    >
      <mat-icon
        [matTooltip]="'HEADER.MENU.LANGUAGE' | translate"
        class="scale-75 text-text-light dark:text-text-dark"
        >language</mat-icon
      >
    </button>
    <div class="h-16 w-px bg-gray-200 dark:bg-gray-800"></div>

    <button
      type="button"
      aria-label="Toggle dark mode"
      class="flex items-center justify-between px-2 py-2 text-xs font-medium text-text-light max-sm:hidden dark:text-text-dark"
      (click)="toggleDarkMode()"
    >
      <mat-icon
        [matTooltip]="'HEADER.MENU.DARK_MODE' | translate"
        class="scale-75 text-text-light dark:text-text-dark"
      >
        @if (darkModeService.isDarkMode()) {
          brightness_2
        } @else {
          light_mode
        }
      </mat-icon>
    </button>
    <button
      type="button"
      aria-label="Toggle menu"
      class="flex items-center justify-between px-2 py-2 text-xs font-medium text-text-light sm:hidden dark:text-text-dark"
      (click)="toggleMenu()"
    >
      <mat-icon
        [matTooltip]="'HEADER.MENU.MENU' | translate"
        class="scale-90 text-text-light dark:text-text-dark"
        >menu</mat-icon
      >
    </button>
  </div>
</div>

@if (isMenuOpen()) {
  <div
    @menuSlide
    class="top-0 left-0 fixed z-50 flex h-screen w-screen items-center justify-center bg-background-light p-2 dark:bg-background-dark"
  >
    <div
      class="flex h-full w-full max-w-screen-lg flex-col gap-4 bg-background-light p-4 dark:bg-background-dark"
    >
      <div class="flex justify-end">
        <button
          type="button"
          class="flex items-center justify-between px-2 py-2 text-xs font-medium text-text-light dark:text-text-dark"
          (click)="toggleMenu()"
        >
          <mat-icon
            [matTooltip]="'HEADER.MENU.CLOSE' | translate"
            class="scale-90 text-text-light dark:text-text-dark"
            >close</mat-icon
          >
        </button>
      </div>
      <div class="flex flex-col gap-6">
        @for (header of headers; let last = $last; track header.labelKey) {
          <a
            [routerLink]="header.link"
            class="flex h-full items-center gap-2 px-4 text-base font-medium text-text-light dark:text-text-dark"
          >
            <mat-icon>{{ header.icon }}</mat-icon>
            <span class="font-mono text-lg">{{ header.labelKey | translate }}</span>

            @if (currentRoute === header.link) {
              <mat-icon class="text-primary">chevron_left</mat-icon>
            }
          </a>
          <div class="h-px w-full bg-gray-200 dark:bg-gray-800"></div>
        }
        <a
          aria-label="Pgp key"
          class="flex h-full items-center gap-2 px-4 text-base font-medium text-text-light dark:text-text-dark"
          routerLink="/pgp-key"
        >
          <mat-icon
            [matTooltip]="'HEADER.MENU.PGP_KEY' | translate"
            class="text-text-light dark:text-text-dark"
            >key</mat-icon
          >
          <span class="font-mono text-lg">{{ 'HEADER.MENU.PGP_KEY' | translate }}</span>

          @if (currentRoute === '/pgp-key') {
            <mat-icon class="text-primary">chevron_left</mat-icon>
          }
        </a>
        <div class="h-px w-full bg-gray-200 dark:bg-gray-800"></div>
        <button
          type="button"
          class="flex h-full items-center gap-2 px-4 text-base font-medium text-text-light dark:text-text-dark"
          (click)="changeLanguage()"
        >
          <mat-icon
            [matTooltip]="'HEADER.MENU.LANGUAGE' | translate"
            class="text-text-light dark:text-text-dark"
            >language</mat-icon
          >
          <span class="font-mono text-lg">{{ 'HEADER.MENU.LANGUAGE' | translate }}</span>
        </button>
        <div class="h-px w-full bg-gray-200 dark:bg-gray-800"></div>

        <button
          type="button"
          class="flex h-full items-center gap-2 px-4 text-base font-medium text-text-light dark:text-text-dark"
          (click)="toggleDarkMode()"
        >
          <mat-icon
            [matTooltip]="'HEADER.MENU.DARK_MODE' | translate"
            class="text-text-light dark:text-text-dark"
          >
            @if (darkModeService.isDarkMode()) {
              brightness_2
            } @else {
              light_mode
            }
          </mat-icon>
          <span class="font-mono text-lg">{{ 'HEADER.MENU.DARK_MODE' | translate }}</span>
        </button>
      </div>
      <div class="flex h-48 items-end justify-center">
        <button
          type="button"
          (click)="konamiCodeService.activateKonamiCode()"
          class="px-4 text-base font-medium text-text-light/30 dark:text-text-dark/30"
        >
          ↑ ↑ ↓ ↓ ← → ← → B A
        </button>
      </div>
    </div>
  </div>
}
