<div
  class="rounded-lg bg-gray-300/30 p-2 text-text-light shadow-lg dark:bg-gray-800/50 dark:text-text-dark"
>
  @if (discordData() && discordData()?.success && discordData()?.data) {
    <div
      class="flex flex-col rounded-lg bg-white/30 p-5 font-mono text-text-light shadow-md dark:bg-gray-800/50 dark:text-text-dark"
    >
      <div class="flex w-full items-center justify-between gap-2">
        <h2 class="text-2xl font-bold">
          {{ discordData()!.data.discord_user.username }}
          @if (discordData()!.data.discord_user.global_name) {
            <span class="text-gray-600">({{ discordData()!.data.discord_user.global_name }})</span>
          }
        </h2>

        <mat-icon
          [ngClass]="{
            'text-green-500': discordData()!.data.discord_status === 'online',
            'text-yellow-500': discordData()!.data.discord_status === 'idle',
            'text-red-500': discordData()!.data.discord_status === 'dnd',
            'text-gray-500': discordData()!.data.discord_status === 'offline'
          }"
          [matTooltip]="'DISCORD_CARD.STATUS.' + discordData()!.data.discord_status | translate"
          class="text-blue-600"
          >{{ statusToIcon(discordData()!.data.discord_status) }}</mat-icon
        >
      </div>
      @for (activity of discordData()?.data?.activities ?? []; track $index) {
        <div class="flex w-full items-center justify-start gap-4 px-2 py-2">
          @if (activity.assets) {
            <img
              class="h-16 min-h-16 rounded-lg"
              [src]="getActivityMediaUrl(activity)"
              alt="Discord Activity"
            />
          }
          <div class="flex flex-col items-start">
            <p class="text-sm">{{ activity.name }}</p>
            <p class="text-sm truncate text-gray-500 max-sm:max-w-48">
              {{ activity.details }}
            </p>
            <div class="text-sm flex gap-2 text-gray-500">
              @if (activity.emoji && !activity.emoji.id) {
                {{ activity.emoji.name }}
              } @else if (activity.emoji && activity.emoji.id) {
                <img class="h-6 rounded" [src]="resolveEmoji(activity.emoji)" alt="Emoji" />
              }
              {{ activity.state }}
            </div>
          </div>
        </div>
      }
    </div>
  } @else if (discordData() === null) {
    <div class="skeleton flex h-60 w-full items-center justify-center rounded-lg"></div>
  } @else {
    <div class="flex flex-col items-center justify-center gap-3 py-5">
      <mat-icon class="scale-150 text-primary">error</mat-icon>
      <p class="text-lg">Failed to fetch Discord data :(</p>
    </div>
  }
</div>
