@keyframes skeleton {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

* {
  --skeleton-color: #e2e8f0;
  --skeleton-highlight: #cbd5e0;
}

[data-mode='dark'] * {
  --skeleton-color: #2d3748;
  --skeleton-highlight: #4a5568;
}

.skeleton {
  background-color: var(--skeleton-color);
  background-image: linear-gradient(
    90deg,
    var(--skeleton-color),
    var(--skeleton-highlight),
    var(--skeleton-color)
  );
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton 3s ease-in-out infinite;
}
