.animate-outwards {
  transform-origin: center;
  transform-box: fill-box;
}

@media (prefers-reduced-motion: no-preference) {
  .animate-outwards {
    animation: scale-up forwards;
  }

  .animate-outwards__first {
    animation-duration: 0.5s;
  }

  .animate-outwards__second {
    animation-duration: 1s;
  }

  .animate-outwards__third {
    animation-duration: 1.5s;
  }

  .animate-outwards__fourth {
    animation-duration: 2s;
  }

  @keyframes scale-up {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
