<div class="flex gap-2 ms-4">
  <div
    class="absolute w-3 h-3 bg-slate-700 dark:bg-slate-500 dark rounded-full -start-[6.25px]"
  ></div>

  <div class="flex flex-col gap-4">
    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{
      year
    }}</time>
    <h3 class="text-2xl font-semibold">
      {{ 'ABOUT_ME_PAGE.HOW_I_GOT_HERE.TIMELINE.' + year + '.TITLE' | translate }}
    </h3>
    <p class="text-text-light dark:text-text-dark">
      {{ 'ABOUT_ME_PAGE.HOW_I_GOT_HERE.TIMELINE.' + year + '.DESCRIPTION' | translate }}
    </p>
    <div
      [@expand]="isOpen() ? 'expanded' : 'collapsed'"
      class="flex flex-col gap-2 w-full overflow-hidden transition-all duration-300 text-slate-700 dark:text-slate-300"
    >
      {{ 'ABOUT_ME_PAGE.HOW_I_GOT_HERE.TIMELINE.' + year + '.DETAILS' | translate }}
    </div>
    <button
      type="button"
      (click)="toggle()"
      class="sm:hidden flex items-center justify-center w-full py-2 dark:bg-background-light/40 bg-background-dark/20 text-text-light dark:text-text-dark rounded-lg transition-all duration-300"
    >
      @if (isOpen()) {
        {{ 'ABOUT_ME_PAGE.HOW_I_GOT_HERE.TIMELINE.SEE_LESS' | translate }}
      } @else {
        {{ 'ABOUT_ME_PAGE.HOW_I_GOT_HERE.TIMELINE.SEE_MORE' | translate }}
      }
    </button>
  </div>

  <button
    type="button"
    (click)="toggle()"
    class="max-sm:hidden flex items-center justify-center w-8 h-8"
  >
    <mat-icon
      class="text-gray-500 dark:text-gray-400 transition-all duration-300"
      [ngClass]="{ 'rotate-180': isOpen() }"
      >keyboard_arrow_down</mat-icon
    >
  </button>
</div>
